# Go build output
main
*.out
*.exe

# Editor/IDE config
*.swp
*.swo
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dev tools
.air.toml

# Git
.git
.gitignore

# Documentation
README.md

# temporary folders
tmp
wisp_test_site

# Docker setup
Dockerfile
docker-compose
.dockerignore

# pem files
*.pem